    body{
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .header{
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        justify-content: center;
        align-items: center;
        font-family: 'Allerta Stencil';
        font-size: 38px;
        padding-bottom: 30px;
        cursor: default;
    }
    .header :first-child{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 680px;
    }
    #title{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #title:hover{
        width:auto;
        background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); 
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    #menu{
        width: 680px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-size: 18px;
    }
    #menu div{
        display: flex;
        justify-content: center;
        width: 100px;
        height:auto;
        border: 3px solid rosybrown;
    }
    .main-box{
        /*display: flex;
        flex-wrap: wrap;*/
        width: 680px;
        height: 680px;
        /*border: 1px solid black;*/
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(20, 1fr);
    }
    .box{
        border: 1px solid black;
        background-color: white;
    }